NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bG9naWNhbC1idXp6YXJkLTY3LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_UFt0RpWm2iB4951b8wsuuNYCTKG5LIvoPAVUNMoKAM

# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:kindly-ibis-970 # team: cse-46-sankha-subhra-moitra, project: webchat-74f4e

NEXT_PUBLIC_CONVEX_URL=https://kindly-ibis-970.convex.cloud
CLERK_JWT_ISSUER_DOMAIN=https://logical-buzzard-67.clerk.accounts.dev
CLERK_WEBHOOK_SECRET=whsec_rb46w12Uh1/WYO6wk9gcUm3kg49tbFBQ
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/chat
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/chat